.about-us {
  @include pageGrid();
  position: relative;

  &__wrapper {
    @include central;
    margin-bottom: 60px;
    grid-column: 1/-1;
    height: 100%;

    @include onTablet {
      grid-column: 1/4;
      position: absolute;
    }

    @include onDesktop {
      grid-column: 1/7;
    }
  }

  &__content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    grid-column: 1/-1;
    margin-bottom: 60px;

    @include onTablet {
      grid-column: 4/7;
    }

    @include onDesktop {
      grid-column: 7/13;
    }
  }

  &__image {
    box-sizing: border-box;
    width: 100%;
    margin-block: auto;
  }
}
