.achievement {
  @include central;
  flex-direction: column;

  &__number {
    font-size: 21px;

    @include onTablet {
      font-size: 30px;
    }
  }

  &__text {
    color: $main-accent-color;
    font-size: 15px;

    @include onTablet {
      font-size: 17px;
    }
  }
}